<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form method="post" action="/addrecipe">
    <div>Название:</div>
    <div></div>
    <input type="text" name="name" id="name">
    <label>Категория:</label>
    <select name="category_name" style="max-width:90%;">
        <option th:each="c: ${categories}"  th:value="${c.getNameCategory()}" th:text="${c.getNameCategory()}" ></option>
    </select>
    <div></div>
    <label>Тип:</label>
    <select name="type_name"  style="max-width:90%;">
        <option th:each="object: ${types}"  th:value="${object.getNameType()}" th:text="${object.getNameType()}" ></option>
    </select>
    <div>Содержание</div>
    <div></div>
    <input type="text" name="text" id="text">

    <div></div>
    <span th:text="${exception}"></span>
    <div></div>
    <input type="submit" value="Добавить">
</form>
<div>
    <form method="get" action="/">

        <input type="submit" value="Вернуться на главную">
    </form>
</div></body>
</html>