<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form method="post" action="/dishtypes">
    <input type="text" name="name_type" id="col2">
    <input type="submit" value="Добавить">
    <div></div>
</form>
<table>
    <tbody>
    <tr>
        <td>Название</td>
        <td>Удалить</td>


    </tr>
    <tr th:each="object: ${objects}">
        <td th:text="${object.getNameType()}"></td>
        <td>
            <form method="post" action = "/dishtypes/delete" >
                <input type="hidden" id="deleteID" name="name_type" th:value="${object.getNameType()}"/>
                <input type="hidden" name="_method" value="delete"/>
                <input type="image" data-number="2" alt="Submit" src="kisspng-recycling-symbol-logo-clip-art-delete-button-5ac2acc9cfa2d6.5671305115227076578505.png"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>