<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form method="get" action="/recipelist">
    <input type="submit" value="К рецептам" data-number="2">
</form>
<form method="get" action="/favourites">
    <input type="submit" value="К избранным" data-number="2">
</form>
<form method="get" action="/addlicense">
    <input type="submit" value="Добавить лицензию" data-number="2">
</form>
</body>
</html>