<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>


</form>
<table>
    <form action="addrecipe" method="get">
        <input type="submit" value="Добавить">
    </form>
    <tbody>
    <tr>
        <td th:text="Название"></td>
        <td th:text="Содержание"></td>


    </tr>
    <tr th:each="object: ${objects}">
        <td th:text="${object.getName()}"></td>
        <td th:text="${object.getText()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>